<div class="chat-container" [ngClass]="{ 'minimized': isMinimized }">
  <div class="chat-header"(click)="toggleChat()">
      {{ isMinimized ? 'Chat de ayuda' : 'Chat de ayuda' }}
  </div>
  <div *ngIf="!isMinimized" class="chat-body">
    <div class="chat-history">
      <div *ngFor="let message of conversationHistory">
        <div [ngClass]="{'bot-message': message.sender === 'bot', 'user-message': message.sender === 'user'}">
          <p>{{ message.message }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="currentStep && currentStep.options && currentStep.options.length > 0" class="chat-options">
      <p><strong>{{ currentStep.message }}</strong></p>
      <ul>
        <li *ngFor="let option of currentStep.options">
          <button (click)="selectOption(option)">{{ option.text }}</button>
        </li>
      </ul>
      <button *ngIf="stepHistory.length > 0" (click)="goBack()">Regresar</button>
    </div>
    
    <div *ngIf="currentStep && (!currentStep.options || currentStep.options.length === 0)" class="chat-end">
      <p><strong>{{ currentStep.message }}</strong></p>
      <button (click)="resetChat()">Iniciar nueva conversación</button>
    </div>
  </div>
</div>
