.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 100%;
  }
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  