<div class="admin-container">
    <main>
      <h2>Menú Administrador</h2>
      <div class="menu-options">
        <button (click)="gestionarPorterias()">Gestión de Porterías</button>
        <button (click)="gestionar()">Gestión Usuarios</button>
        <button (click)="reportes()">Generación de Reportes</button>
        <button (click)="regresar()">Regresar</button>
      </div>
    </main>
  
    <footer>
      <p>Usuario: ADMIN</p>
      <p>Fecha de ingreso: xx/xx/xxxx</p>
    </footer>
  </div>
  