<div class="admin-container">
    <main>
      <h2>Menú Administrador</h2>
      <div class="menu-options">
        <button (click)="registrar()">Registro de Usuario</button>
        <button>Registro de Portería</button>
        <button (click)="gotoEliminarDatos()">Eliminar Usuarios</button>
        <button>Actualización de Datos</button>
        <button>Generación de Reportes</button>
        <button>Regresar</button>
      </div>
    </main>
  
    <footer>
      <p>Usuario: ADMIN</p>
      <p>Fecha de ingreso: xx/xx/xxxx</p>
    </footer>
  </div>
  