<div class="admin-container">
    <header>
      <div class="header-left">
        <img src="assets/Logo-Universidad-del-Cauca-horizontal (1).png" alt="Universidad del Cauca" class="logo" />
      </div>
      <div class="header-right">
        <h4>Sistema biométrico para el ingreso al campus de Unicauca</h4>
      </div>
    </header>
  
    <main>
      <h2>Menú Administrador</h2>
      <div class="menu-options">
        <button>Registro de Usuario</button>
        <button>Registro de Portería</button>
        <button>Eliminar Usuarios</button>
        <button>Actualización de Datos</button>
        <button>Generación de Reportes</button>
      </div>
    </main>
  
    <footer>
      <p>Usuario: ADMIN</p>
      <p>Fecha de ingreso: xx/xx/xxxx</p>
    </footer>
  </div>
  